.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.a-cake{
  margin-left: 5px;
}
#header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(159, 230, 255);
}
.divtag{
margin: 10px; 
}
.nav-list{
  font-size: large;
  font-weight: bold;
  margin-left: 4%;
}
.h1tag{
  font-size: larger;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-left: 2%;
}
.userName{
  color: rgb(116, 116, 233);
  font-family: italic;
  font-size: large;
  font-weight: bold;
  margin-left: 4%;
}

#logo{
  text-align: center;
}




