<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar id="header">
      <div id="logo">
        <img routerLink="home" src="../assets/images/logo.png" alt="rating" width="7%" />
        <span class="h1tag">The Cake Heaven</span>
      </div>
      <div>
      <button class="mat-button" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="loginService.isUserLoggedIn||loginService.isAdminLoggedIn"> <span
            class="userName">Hey</span><br><span class="nav-list">{{loginService.userName}}</span> </button>

        <button mat-menu-item *ngIf="loginService.isAdminLoggedIn==true && loginService.isUserLoggedIn==false"
          routerLink="addCake"><mat-icon>add_circle_outline</mat-icon> Add Cake </button>

        <button mat-menu-item *ngIf="loginService.isAdminLoggedIn==true && loginService.isUserLoggedIn==false"
          routerLink="orderHistory"><mat-icon>history </mat-icon> Order History </button>

        <button mat-menu-item *ngIf="loginService.isAdminLoggedIn==false && loginService.isUserLoggedIn==true"
          [routerLink]="'/viewOneCake/' + mycake.id + '/order'+'/user-order'">
          <mat-icon>history</mat-icon> Order History </button>

        <button mat-menu-item *ngIf="!loginService.isUserLoggedIn&&!loginService.isAdminLoggedIn" routerLink="login">
          <mat-icon>account_circle</mat-icon> login </button>

        <button mat-menu-item *ngIf="loginService.isUserLoggedIn||loginService.isAdminLoggedIn" routerLink="login"
          (click)="logout()"> <mat-icon>logout</mat-icon> logout</button>
      </mat-menu>
    </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>