#cake-content {
    display: flex;
    margin-top: 1%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5%;
}

#cake-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

#cake-detail img {
    width: 80%;
    height: auto;
    margin: 2%;

}

.cakeName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1em;
    color: #131213;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 500;
}

#div-id {
    width: 40%;
    display: flex;
    margin-top: 9%;
    margin-right: 5%;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(205, 194, 194, 0.531);
    text-align: center;
    padding: 2%;

}

h3 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.3em;
    color: #555;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #444;
    margin-bottom: 8px;
}


.cart-btn {
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 1% 2%;
    font-size: 1em;
}

p {
    font-weight: 500;
}