<div class="order-card">
  <h2>Order Details</h2>
  <div>
    <div class="card" *ngFor="let order of orders">
      <p>Name: {{ order.firstname }} {{ order.lastname }} </p>
      <p>Email: {{ order.email }}</p>
      <p>Cake: {{ order.cakeName }}</p>
      <p>Cake Id: {{ order.cakeid }} | Price: {{ order.price}}</p>
      <p>Message: {{ order.message }} | Order date: {{ order.orderDate}}</p>
      <p>Address: {{ order.address }}</p>
      <p>State: {{ order.state }} | Postal Code:{{ order.postalCode }}</p>
    </div>
  </div>
</div>

<a routerLink="">Back to home</a>