h2 {
  text-align: center;
}

* {
  margin: 1%;
}

.order-table {
  border-collapse: collapse;
  width: 100%;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 4px;
}

.order-table th {
  background-color: #f0eded;
  text-align: center;
}

.order-table td {
  font-weight: 545;
  text-align: center;
}
.cakeHistory{
  margin-bottom: 100%;
}